---
blockquote,body,dd,dl,dt,fieldset,figure,h1,h2,h3,h4,h5,h6,hr,html,iframe,legend,li,ol,p,pre,textarea,ul{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}img,video{height:auto;max-width:100%}html{background-color:#fff;font-size:16px;min-width:300px;overflow-x:hidden;overflow-y:scroll;text-rendering:optimizeLegibility;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;text-size-adjust:100%}article,aside,figure,footer,header,hgroup,section{display:block}body{color:#4a4a4a;font-size:1em;font-weight:400;line-height:1.5}a{color:#485fc7;cursor:pointer;text-decoration:none}a strong{color:currentColor}a:hover{color:#363636}hr{background-color:#f5f5f5;border:none;display:block;height:2px;margin:1.5rem 0}img{height:auto;max-width:100%}small{font-size:.875em}span{font-style:inherit;font-weight:inherit}strong{color:#363636;font-weight:700}

body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  line-height: 1.6;
}

.content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.content h2 {
  font-size: 1.8em;
  margin-bottom: 0.4em;
  font-weight: 500;
}

.content p:not(.content p.icon) {
  margin-bottom: 1.6em;
}

/* 1.2 Split the screen */
.main-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.left-container {
  flex: 0 1 100%;
  min-height: 100%;
  max-width: 100%;
}

.right-container {
  min-height: 100vh;
  min-width: 400px;
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* 1.3 Flexbox */
.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  align-content: stretch;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.flex-container.space-around {
  justify-content: space-around;
}

.flex-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  align-self: stretch;
  order: 0;
}

.flex-item {
  margin-bottom: 1rem;
}

.flex-item.has-text-centered {
  text-align: center;
}

.flex-item.card {
  width: 100%;
}

/* 1.4 Typography */
.title, .subtitle {
  word-break: break-word;
}

.title {
  color: #4a4a4a;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.125;
}

.subtitle {
  color: #d3d3d3;
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1.25;
  margin-top: -1rem;
}

/* 1.5 Profile image */
.content figure {
  margin-right: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.image {
  display: block;
  position: relative;
  height: 200px;
  width: 200px;
}

.image img {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

/* 1.6 Button styling */
.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  font-weight: 400;
  color: #fff;
  vertical-align: middle;
  user-select: none;
  background-color: #3e8ed0;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  font-size: 1.25rem;
  height: 2.5em;
  cursor: pointer;
  box-shadow: none;
  padding: .4em 1em .5em 1em;
}

.btn:hover {
  color: #fff;
  background-color: #3488ce;
}

.btn:focus, .btn:active {
  outline: none;
}

.btn.is-green {
  background-color: #4cd137;
  color: #fff;
}

.btn.is-green:hover {
  background-color: #44bd32;
  color: #fff;
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.buttons .btn {
  margin-bottom: 0.5rem;
}

.buttons .btn:not(:last-child) {
  margin-right: 0.5rem;
}

/* 1.7 Page content elements */
.content {
  padding: 4rem;
}

.box {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
  width: 100%;
  max-width: 400px;
  height: 100%;
}

.box h3 {
  font-size: 1.25rem;
}

.box a {
  color: #3e8ed0;
}

.box a:hover, .box a:focus, .box a:active {
  color: #3488ce;
  text-decoration: underline;
}

.box ul {
  margin-top: 1em;
  margin-left: 0;
}

.box li {
  list-style-type: none;
}

.box li::before {
    content: "⦿";
    color: #3e8ed0;
    padding-right: 10px;
}

.icon {
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
}

/* 1.8 Media queries */
@media (min-width: 800px) {
  .left-container {
    flex: 0 1 80%;
    max-width: 80%;
  }

  .right-container {
    display: inline;
    flex: 0 1 20%;
    max-width: 400px;
    background-image: url('../images/motor.jpg');
    background-position: left;
  }

  .flex-container {
    flex-direction: row;
  }

  .flex-container.aligned {
    justify-content: flex-start;
  }

  .flex-container.aligned .flex-item {
    align-self: center;
  }

  .flex-item.card {
    text-align: left;
    max-width: 400px;
    margin-right: .5em;
  }
}

/* 1.9 Animations */
.name, .hr, .job, .description, .btn {
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
  animation-fill-mode: both;
}

.hr {
  background-color: #3e8ed0;
  border: none;
  content: '';
  height: 6px;
  margin-bottom: 1.5rem;
  margin-top: .5rem;
  transform-origin: center left;
  width: 10rem;
}

/* 1.10 Keyframes */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fillUp {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/* 1.11 Animation triggers */
.name {
  animation-name: slideDown;
}

.job, .description {
  animation-name: slideUp;
}

.hr {
  animation-name: fillUp;
}

.btn {
  animation-duration: 500ms;
  animation-name: slideUp;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5);
}

/* 1.12 Delays */
.name {
  animation-delay: 100ms;
}

.job {
  animation-delay: 200ms;
}

.hr {
  animation-delay: 300ms;
}

.description {
  animation-delay: 400ms;
}

.buttons .btn:nth-child(1) {
  animation-delay: 800ms;
}

.buttons .btn:nth-child(2) {
  animation-delay: 900ms;
}

.buttons .btn:nth-child(3) {
  animation-delay: 1s;
}
